<div class="container-fluid my-5">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Search For?</span>
        </div>
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
            [(ngModel)]="SearchForProducts">
        <i class="fas fa-search"></i>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col" *ngFor="let product of AppleProducts">
            <div class="card "> <img [src]="product.image_path" alt="..." width="70%">
                <div data-brackets-id="211" class="badge text-white position-absolute" *ngIf="product.isnew">New
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <i class="fa-brands fa-apple"></i>
                        <span class="float-end price-hp">{{product.price}} &pound;</span>
                        <span class="text-danger" *ngIf="!product.isvisible"> <s> Out Of Stock </s> </span>
                    </div>
                    <h5 class="card-title">{{product.title}}</h5>
                    <p>
                        Type: {{product.type}}
                        <br>
                        Color: {{product.color}}
                    </p>
                    <app-rating [rating]="product.rating"></app-rating>
                    <h6 class="text-success">Free shipping</h6>


                    <div class="text-center">

                        <button class="btn btn-warning" type="submit" (click)="AddCart(product)">Add To Cart
                            <i class="bi bi-cart-dash-fill" style="margin-left: 2px;"></i>
                        </button>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>