.container{
    background-color: rgba(150, 148, 148, 0.085);
}
.social-link{
    color: #c56e04;
}
.social-link:hover{
   color: #7d4603;
}
h5{
    color: #232f3e;
    font-family: 'tahoma';
}
.rounded{
    background-color: rgb(255, 255, 255);
}
.rounded:hover{
    transform: scale(1.01);
    box-shadow: 10px rgb(193, 106, 0);
}