<div class=" py-5">
    <div class="container py-5" style="border-radius: 50px;">
        <div class="row mb-4">
            <div class="col-lg-5">
                <h2 class="display-4 font-weight-light">Our team</h2>
            </div>
        </div>
        <div class="row text-center justify-center">
            <div class="col-xl-3 col-sm-6 mb-5" *ngFor="let memper of Members">
                <div class="rounded shadow-sm py-5 px-4">
                    <h6>{{memper.id}}</h6>
                    <h5 class="mb-0">{{memper.name}}</h5>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/?hl=en" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>